@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
.hidden {
  display: none;
}

.flex {
  display: flex;
}

/* Transition classes for modal */
.transition-opacity {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.transition-all {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
